<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div style="background-color:#D5DBDB;">
      <h1>Please sign in</h1>
      <input type="text" id="username" name="username" value="" />
      <input type="password" id="password" name="password" value="" autocomplete="off" />
      <input type="button" id="signIn" name="signIn">Sign in</input>
	</div>
</body>
</html>